<form #myForm="ngForm" (ngSubmit)="searchUser(myForm)">
  <p>Search User by ID</p>
  <input type="number" placeholder="Введіть ID користувача" max="10" name="inputId" [(ngModel)]="user.id">
  <button *ngIf="user.id>=1">Пошук користувача</button>
  <button *ngIf="user.id>=1" (click)="findPostOfUser(user.id)">Пошук постів користувача</button>
  <br>
  <div >
    <br>User ID - {{user.id}}
    <br>Name - {{user.name}}
    <br>Email - {{user.email}}
  </div>

  <div *ngFor="let uPost of PostOfUser">
    Post ID {{uPost.id}} - {{uPost.title}}
  </div>
  <hr>

</form>


  <form #myPostIDForm="ngForm" (ngSubmit)="findPostByID(myPostIDForm)">
    <input type="number" placeholder="Введіть ID поста" name="postId" [(ngModel)]="idPost.id">
<!--      <button (click)="getPost(post.id)">Post by ID</button>-->
    <button>Отримати пост по ID</button>
    <div>
      <p>ID - {{idPost.id}}</p>
      <p>Title - {{idPost.title}}</p>
      <p>Body - {{idPost.body}}</p>
    </div>
    <hr>

  </form>

<!--<form #userForm="ngForm" (ngSubmit)="findUser(userForm)">-->
<!--  <select name="userId" [(ngModel)]="userInfo.id" required>-->
<!--    <option value="1">1</option>-->
<!--    <option value="2">2</option>-->
<!--    <option value="3">3</option>-->
<!--    <option value="4">4</option>-->
<!--    <option value="5">5</option>-->
<!--  </select>-->
<!--  <button *ngIf="userInfo.id>=1">Get Name</button>-->

<!--  <button [hidden]="userForm.invalid" (click)="findUserPost(userInfo.id)">check posts</button>-->
<!--  <br>{{userInfo.id}}-->
<!--  <br>{{userInfo.name}}-->
<!--  <br>{{userInfo.email}}-->
<!--  <div *ngFor="let uPost of userPost">-->
<!--    Post ID - {{uPost.id}} - Title - {{uPost.title}}-->
<!--  </div>-->
<!--  <hr>-->
<!--</form>-->
